@charset "UTF-8";
@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400&display=swap");
@font-face {
  font-family: "canela";
  src: url(../fonts/canela.ttf); }

body {
  font-size: 1rem;
  overflow-x: hidden;
  font-feature-settings: "kern" 1;
  text-rendering: optimizeLegibility;
  -webkit-font-kerning: normal;
  font-kerning: normal;
  overscroll-behavior: none;
  font-family: "canela";
  background-color: #efe9d0; }

* {
  scroll-behavior: smooth;
  margin: 0;
  padding: 0;
  box-sizing: border-box; }

::after,
::before {
  box-sizing: border-box;
  transition: all 0.5s ease; }

ul {
  list-style: none; }

a,
button,
input {
  position: relative;
  outline: none;
  border: none;
  text-decoration: none;
  transition: all 0.5s ease; }

article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
main,
nav,
section,
summary {
  display: block; }

audio,
canvas,
video {
  display: inline-block; }

audio:not([controls]) {
  display: none;
  height: 0; }

abbr[title] {
  border-bottom: 1px dotted; }

b,
strong {
  font-weight: bold; }

dfn {
  font-style: italic; }

hr {
  -moz-box-sizing: content-box;
  box-sizing: content-box;
  height: 0; }

mark {
  background: #ff0;
  color: #000; }

code,
kbd,
pre,
samp {
  font-family: "Source Sans Pro", sans-serif;
  font-size: 1em; }

pre {
  white-space: pre-wrap; }

q {
  quotes: "“" "”" "‘" "’"; }

small {
  font-size: 80%; }

sub,
sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline; }

sup {
  top: -0.5em; }

sub {
  bottom: -0.25em; }

img {
  border: 0; }

svg:not(:root) {
  overflow: hidden; }

figure {
  margin: 0; }

fieldset {
  border: 1px solid #c0c0c0;
  margin: 0 2px;
  padding: 0.35em 0.625em 0.75em; }

legend {
  border: 0;
  padding: 0; }

button,
html input[type="button"],
input[type="reset"],
input[type="submit"] {
  -webkit-appearance: button;
  cursor: pointer; }

button[disabled],
html input[disabled] {
  cursor: default; }

input[type="checkbox"],
input[type="radio"] {
  box-sizing: border-box;
  padding: 0; }

input[type="search"] {
  -webkit-appearance: textfield;
  -moz-box-sizing: content-box;
  -webkit-box-sizing: content-box;
  box-sizing: content-box; }

input[type="search"]::-webkit-search-cancel-button,
input[type="search"]::-webkit-search-decoration {
  -webkit-appearance: none; }

button::-moz-focus-inner,
input::-moz-focus-inner {
  border: 0;
  padding: 0; }

textarea {
  overflow: auto;
  vertical-align: top; }

table {
  border-collapse: collapse;
  border-spacing: 0; }

img {
  max-width: 100%;
  vertical-align: middle; }

html {
  scroll-behavior: smooth; }

.row {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between; }

.center-item {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center; }

.section {
  max-width: 100%;
  width: 100%;
  min-height: 100vh;
  position: relative; }

.text-box {
  position: relative;
  overflow: hidden;
  line-height: 2;
  width: 100%;
  height: auto; }

.img-box {
  width: 100%;
  height: 100%;
  position: relative;
  overflow: hidden; }

.transition {
  transition: all 0.5s ease; }

.title {
  font-size: 13vw;
  font-weight: 600;
  letter-spacing: 8px; }

.title-2 {
  font-size: 7rem; }

.full-size {
  width: 100%;
  height: 100%; }

.pad-section {
  padding: 10rem 0; }

.flex {
  display: flex; }

.paragraph {
  font-family: "Poppins", sans-serif;
  font-size: 1rem;
  line-height: 2;
  color: #1c1c1d;
  font-weight: 400; }

.wrapper {
  width: 100%;
  height: 100%; }
  .wrapper .scroll__container {
    width: 100%;
    height: 100%; }

.container {
  max-width: 1300px;
  margin: 0 auto;
  width: 100%;
  height: 100%;
  position: relative; }

.mini-container {
  max-width: 1200px;
  margin: 0 auto;
  width: 100%;
  height: 100%;
  position: relative; }

.nav__container {
  max-width: 90%;
  margin: 0 auto; }

.nav {
  width: 100%;
  height: fit-content;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 300;
  transition: all 0.5s ease; }
  .nav.active {
    pointer-events: none; }
    .nav.active .nav-btn {
      opacity: 0; }
  .nav .shop-btn {
    width: 6rem;
    height: fit-content; }
    .nav .shop-btn img {
      width: 1rem;
      height: 1rem;
      position: absolute;
      transform: scale(0.9);
      transform-origin: center; }
    .nav .shop-btn div {
      position: relative;
      color: #1c1c1d; }
      .nav .shop-btn div :hover {
        color: #8e6e35; }
      .nav .shop-btn div.img-box {
        width: 2rem;
        height: 2rem;
        background-color: #1c1c1d;
        border-radius: 50%; }

button,
a {
  font-family: "Poppins", sans-serif; }

.hover-btn {
  font-size: 1rem;
  font-weight: 500;
  padding: 0.3rem 0.5rem;
  overflow: hidden;
  cursor: pointer; }
  .hover-btn:hover {
    color: #8e6e35; }
  .hover-btn::after {
    content: "";
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 1px;
    background-color: #8e6e35;
    transform-origin: right;
    transform: scaleX(0);
    transition: transform 0.5s cubic-bezier(0.65, 0.05, 0.36, 1);
    -webkit-transition: transform 0.5s cubic-bezier(0.65, 0.05, 0.36, 1);
    -moz-transition: transform 0.5s cubic-bezier(0.65, 0.05, 0.36, 1); }
  .hover-btn:hover::after {
    transform-origin: left;
    transform: scaleX(1); }

.logo-btn {
  width: fit-content;
  height: fit-content; }
  .logo-btn img {
    width: 10rem;
    height: fit-content; }

/*! locomotive-scroll v4.1.3 | MIT License | https://github.com/locomotivemtl/locomotive-scroll */
html.has-scroll-smooth {
  overflow: hidden; }

html.has-scroll-dragging {
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none; }

.has-scroll-smooth body {
  overflow: hidden; }

.has-scroll-smooth [data-scroll-container] {
  min-height: 100vh; }

[data-scroll-direction="horizontal"] [data-scroll-container] {
  display: inline-block;
  height: 100vh;
  white-space: nowrap; }

[data-scroll-direction="horizontal"] [data-scroll-section] {
  display: inline-block;
  height: 100%;
  vertical-align: top;
  white-space: nowrap; }

.c-scrollbar {
  height: 100%;
  opacity: 0;
  position: absolute;
  right: 0;
  top: 0;
  transform-origin: center right;
  transition: transform 0.3s, opacity 0.3s;
  width: 11px; }

.c-scrollbar:hover {
  transform: scaleX(1.45); }

.c-scrollbar:hover,
.has-scroll-dragging .c-scrollbar,
.has-scroll-scrolling .c-scrollbar {
  opacity: 1; }

[data-scroll-direction="horizontal"] .c-scrollbar {
  bottom: 0;
  height: 10px;
  top: auto;
  transform: scaleY(1);
  width: 100%; }

[data-scroll-direction="horizontal"] .c-scrollbar:hover {
  transform: scaleY(1.3); }

.c-scrollbar_thumb {
  background-color: #000;
  border-radius: 10px;
  cursor: -webkit-grab;
  cursor: grab;
  margin: 2px;
  opacity: 0.5;
  position: absolute;
  right: 0;
  top: 0;
  width: 7px; }

.has-scroll-dragging .c-scrollbar_thumb {
  cursor: -webkit-grabbing;
  cursor: grabbing; }

[data-scroll-direction="horizontal"] .c-scrollbar_thumb {
  bottom: 0;
  right: auto; }

::-webkit-scrollbar {
  display: none; }

.banner {
  overflow: hidden; }
  .banner .bg-container {
    position: absolute;
    top: 0;
    left: 0;
    overflow: hidden;
    transform: scale(1.3);
    z-index: 1; }
    .banner .bg-container .parallax-container {
      background-size: cover !important;
      background-position: center !important;
      transform-origin: top; }
  .banner h1 {
    position: relative;
    z-index: 2;
    color: #ffffff; }

.about .container .text-box {
  text-align: center;
  position: relative; }
  .about .container .text-box:nth-of-type(2) {
    margin-top: 2rem; }
  .about .container .text-box h6 {
    font-size: 1rem;
    font-family: "Poppins", sans-serif;
    font-weight: 600;
    color: #8e6e35;
    letter-spacing: 4px;
    line-height: 2rem; }
    .about .container .text-box h6 span {
      padding: 1rem;
      border: 2px solid #8e6e35;
      line-height: 1.2rem;
      border-radius: 50%;
      font-family: "canela"; }
  .about .container .text-box h1 {
    font-weight: 500;
    line-height: 1.5;
    text-align: center;
    align-items: center;
    justify-content: center;
    word-spacing: 4px; }
    .about .container .text-box h1 div {
      width: 13rem;
      height: 8rem;
      overflow: hidden;
      margin: 0 0.5rem; }
      .about .container .text-box h1 div img {
        transition: all 0.5s ease;
        transform-origin: center; }
      .about .container .text-box h1 div:hover img {
        transform: scale(1.2); }

.intro {
  max-height: 100vh; }
  .intro .mini-container {
    height: 800px;
    align-items: flex-end;
    justify-content: flex-end; }
    .intro .mini-container .intro-content {
      flex: 0 0 45%;
      max-width: 45%;
      position: relative;
      justify-content: flex-end;
      padding: 5rem 0; }
      .intro .mini-container .intro-content .text-box:not(.parallax-box) {
        padding: 1.2rem 0;
        border-top: 1px solid #ceb286; }
        .intro .mini-container .intro-content .text-box:not(.parallax-box):nth-of-type(1) {
          margin-top: 2rem; }
        .intro .mini-container .intro-content .text-box:not(.parallax-box):nth-of-type(3) {
          border-bottom: 1px solid #ceb286; }
        .intro .mini-container .intro-content .text-box:not(.parallax-box) .text-box p {
          font-size: 1.2rem; }
      .intro .mini-container .intro-content .parallax-box {
        position: absolute;
        top: 10vh;
        left: -20rem;
        width: 40rem;
        height: fit-content;
        z-index: 4;
        pointer-events: none; }
        .intro .mini-container .intro-content .parallax-box h1 {
          line-height: 1.2;
          color: #8e6e35;
          font-weight: 500; }
    .intro .mini-container .intro-pic {
      position: absolute;
      top: 0;
      left: 0;
      flex: 0 0 50%;
      max-width: 50%;
      height: 100%; }
      .intro .mini-container .intro-pic .img-box {
        position: absolute;
        z-index: 2;
        height: 80%;
        width: 30rem;
        top: 2rem; }
        .intro .mini-container .intro-pic .img-box img {
          transform-origin: top;
          transform: scale(1.4);
          width: 100%;
          height: 100%; }
      .intro .mini-container .intro-pic .bg-container {
        width: 100%;
        height: 60%;
        position: absolute;
        bottom: 0;
        background-color: #ecdabc; }
